
@{
}
<section id="doctor-main">
    <div id='dle-content'>
        <div class="overlay-service"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Haqqımızda</h3>
                    </div>
                </div>
            </div>
        </div>
</section>