
@{
}


<section id="contact">
    <div class="bg-left">
        <img src="images/bg-2.html" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 p-0">
                <div class="contact-little">
                    <div class="contact-unv mt-2">
                        <h3>Ünvan</h3>
                        <p>
                            ATATÜRK PR-Tİ 140
                            AZ1130 BAKI ş., AZƏRBAYCAN
                        </p>
                    </div>
                    <div class="contact-unv">
                        <h3>Email</h3>
                        <p>
                            info@istanbulns.az
                        </p>
                    </div>
                    <div class="contact-unv">
                        <h3>Telefon</h3>
                        <p>
                            (012) 465 85 00<br>
                            (055) 467 85 00
                        </p>
                    </div>
                    <div class="contact-unv">
                        <h3>Iş Saatları</h3>
                        <p>
                            Bazar ertəsi – Şənbə<br>
                            08:30 – 18:00
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <div class="main-contact">
                    <div class="form-message">
                        <div class="heading-form">
                            <h4>Təklif və iradlarınız üçün mesaj yazın.</h4>
                        </div>
                        File engine/modules/foring.php is in the folder, which is available to write (CHMOD 777). For security purposes the connection files from these folders is impossible. Change the permissions on the folder that it had no rights to the write.
                        <form method="post" action="#">
                            <div class="form-group">
                                <label for="firstname">Ad</label>
                                <input type="text" name="name" id="name" placeholder="Adınız">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email ünvanı">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon Nömrəsi</label>
                                <input type="text" name="phone" id="phone" placeholder="Telefon Nömrəsi">
                            </div>
                            <div class="form-group">
                                <label for="mövzu">Mövzu</label>
                                <input type="text" name="subject" id="subject" placeholder="Mövzu">
                            </div>
                            <div class="form-group">
                                <label for="message">Mesajınız</label>
                                <textarea id="message" name="message" rows="5"></textarea>
                            </div>

                            <div class="btn-div">
                                <button type="submit" name="submit">Göndər</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12151.253904534984!2d49.8472717!3d40.4129827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9e8d50eb77e81d9!2s%C4%B0stanbul%20NS%20Klinika!5e0!3m2!1str!2s!4v1575895531988!5m2!1str!2s"
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>
</section>
